<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="defaultConnection" connectionString="Data Source=localhost;Initial Catalog=notepad;Integrated Security=False;User ID=SA;Password=34512137" />
	</connectionStrings>
</configuration>